---

- name: Fail if required Navidrome settings not defined
  ansible.builtin.fail:
    msg: >
      You need to define a required configuration setting (`{{ item.name }}`).
  when: "item.when | bool and vars[item.name] | length == 0"
  with_items:
    - {'name': 'navidrome_identifier', when: true}
    - {'name': 'navidrome_uid', when: true}
    - {'name': 'navidrome_gid', when: true}
    - {'name': 'navidrome_hostname', when: true}
    - {'name': 'navidrome_path_prefix', when: true}
    - {'name': 'navidrome_container_network', when: true}
    - {'name': 'navidrome_container_labels_traefik_compression_middleware_name', when: "{{ navidrome_container_labels_traefik_compression_middleware_enabled }}"}

- when: navidrome_container_labels_traefik_enabled | bool
  block:
    - name: Fail if required Navidrome Traefik settings not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "vars[item] == ''"
      with_items:
        - navidrome_container_labels_traefik_hostname
        - navidrome_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `navidrome_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if navidrome_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          navidrome_container_labels_traefik_path_prefix (`{{ navidrome_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/navidrome`).
      when: "navidrome_container_labels_traefik_path_prefix != '/' and navidrome_container_labels_traefik_path_prefix[-1] == '/'"
